.about {
  background-color: $mineShaft;

  &__content {
    display: grid;
    grid-template-areas: "about__text-content"
    "about__image-form";
    gap: 20px;

    @include media('medium') {
      gap: 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "about__text-content about__image-form"
      "about__text-content about__image-form";
    }

  }

  &__title {
    margin-bottom: 5px;
    color: $white;
  }

  &__text {
    line-height: 25px;

    @include media('medium') {
      line-height: 28px;
    }
  }

  &__text-content {
    grid-area: about__text-content;
  }

  &__image-form {
    grid-area: about__image-form;
    @include media('medium') {
      padding-top: 30px;
    }
  }

  &__image {
    display: block;
    margin-bottom: 23px;

    img {
      width: 100%;
    }

    @include media('medium') {
      margin-bottom: 20px;
    }

    @include media('wide') {
      margin-bottom: 22px;
    }
  }
}

.subscribe-form {
  &__title {
    margin-bottom: 14px;
    font-family: $secondary-font-stack;
    font-size: 18px;

    @include media('medium') {
      margin-bottom: 15px;
      font-size: 24px;
      line-height: 22px;
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;

    @include media('wide') {
      flex-direction: row;
    }
  }

  &__input {
    margin-bottom: 18px;

    @include media('medium') {
      margin-bottom: 21px;
      padding: 15px 23px;
    }

    @include media('large') {
      margin-bottom: 20px;
      max-width: 342px;
    }

    @include media('wide') {
      flex-grow: 1;
      margin-right: 30px;
      max-width: none;
    }
  }

  &__button {
    align-self: flex-start;
    padding: 12px 23px;

    @include media('medium') {
      padding: 16px 23px;
    }

    @include media('large') {
      //padding: 16px 23px;
    }
  }
}