.about {
  background-color: $mineShaft;

  &__content {
    display: grid;
    grid-template-areas: "about__text-content"
    "about__image-form";
    gap: 20px;

    @include media('medium') {
      gap: 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "about__text-content about__image-form"
      "about__text-content about__image-form";
    }

  }

  &__title {
    margin-bottom: 5px;
    color: $white;
  }

  &__text {
    line-height: 25px;

    @include media('medium') {
      line-height: 28px;
    }
  }

  &__text-content {
    grid-area: about__text-content;
  }

  &__image-form {
    grid-area: about__image-form;
    @include media('medium') {
      padding-top: 30px;
    }
  }

  &__image {
    display: block;
    margin-bottom: 23px;

    img {
      width: 100%;
    }

    @include media('medium') {
      margin-bottom: 20px;
    }

    @include media('wide') {
      margin-bottom: 22px;
    }
  }
}
