.contacts {
  &__title {
    margin-bottom: 16px;
  }

  &__content {
    display: grid;
    row-gap: 23px;

    @include media('medium') {
      grid-template-columns: repeat(6, 1fr);
    }

    @include media('large') {
      gap: 30px;
      grid-template-columns: repeat(8, 1fr);
    }

    @include media('wide') {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  &__map {
    margin: 0 -20px;

    @include media('medium') {
      margin: 0;
      grid-column-end: span 6;
    }

    @include media('large') {
      grid-column-end: span 5;
    }

    @include media('wide') {
      margin-top: 7px;
      grid-column-end: span 4;
    }
  }

  &__form {
    @include media('medium') {
      grid-column-end: span 4;
    }

    @include media('large') {
      margin: 0;
      grid-column-end: span 3;
    }

    @include media('wide') {
      margin: 0;
      grid-column-end: span 2;
    }
  }
}