.footer {
  @include media('medium') {
    background-color: $mineShaft;
  }

  &__content {
    display: grid;

    @include media('medium') {
      justify-content: space-between;
      padding: 25px 0;
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include media('large') {
      grid-template-columns: 308px 361px 165px;
    }

    @include media('wide') {
      grid-template-columns: 244px 361px 294px;
    }
  }

  &__social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -20px;
    padding: 34px 0;
    background-color: $mineShaft;

    @include media('medium') {
      order: 3;
      margin: 0;
      padding: 0;
      background-color: transparent;
      justify-self: right;
    }
  }

  &__social-links-title {
    margin-bottom: 8px;
    font-size: 16px;
    color: $secondaryTextColor;
  }

  &__quote {
    display: none;

    @include media('large') {
      display: block;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin: 0 -20px;
    padding: 14px 0;
    background-color: $tundora;

    @include media('medium') {
      order: 0;
      margin: 0;
      padding: 0;
      background-color: transparent;
      justify-self: left;
    }
  }

  &__logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media('medium') {
      align-items: flex-start;
      img {
        width: 166px;
      }
    }

    @include media('wide') {
      img {
        width: 190px;
      }
    }
  }

  &__logo-text {
    margin-top: 4px;
    font-family: $secondary-font-stack;
    font-size: 10px;
    color: $mercury;

    @include media('medium') {
      font-size: 14px;
    }

    @include media('large') {
      margin-top: 8px;
    }
  }
}