@import "../abstracts/variables";
@import "../abstracts/mixins";


.header__top {
  background-color: $mineShaft;
}

.header-top__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 0;

  @include media('medium') {
    padding: 21px 0;
  }

  @include media('large') {
    padding: 22px 0 20px;
  }

  @include media('wide') {
    padding: 19px 0 18px;
  }
}

.header-top__logo-link {
  padding: 5px 0;
}

.header-top__logo {
  width: 115px;
  vertical-align: middle;
  color: $white;

  @include media('medium') {
    width: 166px;
  }

  @include media('large') {
    width: 168px;
  }

  @include media('wide') {
    width: 193px;
  }
}

.header-top__menu {
  display: none;

  @include media('large') {
    display: grid;
    margin-right: 52px;
    column-gap: 33px;
  }

  @include media('wide') {
    margin-right: 0;
    margin-left: 50px;
    column-gap: 79px;
  }
}

.header-top__search-btn {
  $size: 20px;

  width: $size;
  height: $size;

  color: $white;

  @include media('medium') {
    $size: 25px;

    width: $size;
    height: $size;
  }

  @include media('wide') {
    display: none;
  }
}

.header-top__social-links {
  display: none;

  @include media('wide') {
    display: block;
  }
}

.header__bottom {
  @include media('large') {
    display: none;
  }
}

.header-bottom {
  background-color: $tundora;
}

.header-bottom__content {
  display: flex;
  align-items: center;
  padding: 14px 0 13px;

  @include media('medium') {
    padding: 11px 0 12px;
  }
}

.header-bottom__menu-button {
  width: 20px;
  height: 18px;

  @include media('medium') {
    display: none;
  }
}

.header-bottom__menu {
  display: none;
  justify-content: space-between;
  width: 100%;

  @include media('medium') {
    display: grid;
  }
}
