.hero {
  &__banner {
    @include background-image-all-sizes('banner/neon_photoset', 'jpg');
  }

  &__content {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr;
    gap: 35px;

    @include media('medium') {
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}