.our-projects {
  padding: 52px 0;

  @include media('medium') {
    padding: 69px 0;
  }

  @include media('wide') {
    padding: 69px 0 68px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__cards {
    display: grid;
    gap: 28px;
    grid-template-columns: 1fr;
    grid-template-areas:
  "item-1"
  "item-2"
  "item-3"
  "item-4"
  "item-5"
  "item-6"
  "item-7";

    @include media('medium') {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      row-gap: 30px;
      grid-template-areas:
    "item-1 item-1 item-2 item-2 item-3 item-3"
    "item-4 item-4 item-4 item-4 item-4 item-4"
    "item-5 item-5 item-5 item-6 item-6 item-6"
    "item-7 item-7 item-7 item-7 item-7 item-7";
    }

    @include media('large') {
      grid-template-columns: repeat(16, 1fr);
      row-gap: 16px;
      grid-template-areas:
    "item-1 item-1 item-1 item-1 item-2 item-2 item-2 item-2 item-3 item-3 item-3 item-3 item-3 item-3 item-3 item-3"
    "item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-4 item-5 item-5 item-5 item-5 item-5 item-5"
    "item-6 item-6 item-6 item-6 item-6 item-6 item-7 item-7 item-7 item-7 item-7 item-7 item-7 item-7 item-7 item-7"
    }

    @include media('wide') {
      grid-template-columns: repeat(12, 1fr);
      row-gap: 30px;
      grid-template-areas:
    "item-1 item-1 item-2 item-2 item-3 item-3 item-4 item-4 item-4 item-4 item-4 item-4"
    "item-7 item-7 item-7 item-7 item-7 item-7 item-5 item-5 item-5 item-6 item-6 item-6";
    }
  }

  @for $grid-item from 1 through 7 {
    &__item:nth-child(#{$grid-item}) {
      grid-area: item-#{$grid-item};
    }
  }

  &__item {
    @include media('medium') {
      grid-column-end: span 2;
    }

    @include media('large') {
      grid-column-end: span 4;
    }

    @include media('wide') {
      grid-column-end: span 2;
    }
  }

  &__banner {
    @include media('medium') {
      min-height: 300px;
      grid-column-end: span 6;
    }

    @include media('large') {
      min-height: 307px;
      grid-column-end: span 10;
    }

    @include media('wide') {
      min-height: 300px;
      grid-column-end: span 6;
    }

    .banner__tag {
      padding: 4px 15px;
    }
  }

  &__banner--card-4-bg {
    @include background-image-all-sizes('cards/card-4', 'jpg');
  }

  &__banner--card-7-bg {
    @include background-image-all-sizes('cards/card-7', 'jpg');
  }

  &__item:nth-child(5),
  &__item:nth-child(6) {
    min-height: 280px;

    @include media('medium') {
      min-height: 281px;
    }

    @include media('large') {
      .card__date {
        bottom: 0;
      }
    }
  }
}