.link {
  font-family: $secondary-font-stack;
  color: $primaryTextColor;

  @include transition((color, background-color));

  @include on-hover() {
    color: $burningOrange;
  }

  @include on-active() {
    color: $grenadier;
  }

  &--text {
    @include on-focus() {
      background-color: $tuscany;
    }
  }

  &--icon {
    color: $secondaryTextColor;

    @include on-focus() {
      color: $tuscany;
    }
  }
}

.btn {
  @extend %reset-btn;

  color: $primaryTextColor;

  @include transition((background-color, border-color));

  &--primary {
    padding: 15px 22px;
    background-color: $burningOrange;

    @include on-hover() {
      background-color: $tuscany;
    }

    @include on-focus() {
      outline: 3px solid $grenadier;
      outline-offset: -3px;
      background-color: $burningOrange;
    }

    @include on-active() {
      background-color: $grenadier;
    }
  }

  &--secondary {
    padding: 12.5px 22px;
    border: 3px solid $burningOrange;

    @include on-hover() {
      background-color: $burningOrange;
    }

    @include on-focus() {
      background-color: $tuscany;
    }

    @include on-active {
      border-color: $grenadier;
      background-color: $grenadier;
    }
  }

  &--icon {
    @include transition((color));
    @include on-hover() {
      color: $burningOrange;
    }

    @include on-active() {
      color: $grenadier;
    }

    @include on-focus() {
      color: $tuscany;
    }
  }
}