.order-form {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 7px;
    font-family: $secondary-font-stack;
    font-size: 18px;
    color: $mineShaft;
    line-height: 22px;

    @include media('medium') {
      font-size: 24px;
    }
  }

  &__text {
    margin-bottom: 16px;
    color: $dustyGray;
    line-height: 18px;

    @include media('medium') {
      line-height: 22px;
      margin-bottom: 13px;
    }
  }

  &__input, &__textarea {
    margin-bottom: 20px;
    padding: 11px 23px;

    @include media('medium') {
      padding: 15px 23px;
    }
  }

  &__textarea {
    min-height: 150px;
    resize: none;

  }

  &__button {
    align-self: flex-start;
    padding: 12px 23px;

    @include media('medium') {
      padding: 16px 23px;
    }
  }
}