.phone-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  color: $burningOrange;

  @include media('medium') {
    font-size: 16px;
  }

  &__icon {
    order: -1;
    @include size(16px);
    margin-right: 3px;
  }
}