.search-form {
  position: absolute;
  right: -20px;
  left: -20px;
  display: none;
  align-items: center;
  padding: 10px 20px;
  height: 30px;
  background-color: $mineShaft;

  @include media('medium') {
    right: 0;
    left: initial;
    width: 342px;
  }

  @include media('large') {
    bottom: -35px;
  }

  &__close-button {
    @include size(20px);
    margin-left: 10px;
    color: $silver;
  }
}

.search-form__input {
  border: none;
  border-bottom: 1px solid $white;
  width: 100%;
  font-family: $secondary-font-stack;
  color: $mercury;
  background-color: transparent;

  @include on-hover() {
    border-bottom: 1px solid $burningOrange;
  }

  @include on-focus() {
    border-bottom: 1px solid $burningOrange;
  }

  @include on-active() {
    border-bottom: 1px solid $grenadier;
  }
}

.search-form__input::placeholder {
  color: $mercury;
}