.social-links {
  @extend %reset-list;
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-columns: repeat(3, auto);

  &__item {
    $size: 30px;
    width: $size;
    height: $size;
  }
}