@import '../abstracts/_variables.scss';

.dropdown-menu {
  position: fixed;
  top: 71px;
  bottom: 0;
  left: 0;
  display: none;
  padding: 46px 0 34px;
  width: 100%;
  background-color: $mineShaft;

  .container {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__close-btn {
    position: absolute;
    top: 13px;
    $size: 20px;
    width: $size;
    height: $size;
    color: $secondaryTextColor;
  }

  &__nav {
    overflow-y: auto;
    grid-template-columns: 1fr;
    justify-items: start;
    row-gap: 29px;
  }

  &__phone {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: $burningOrange;
  }

  &__phone-icon {
    order: -1;
    $size: 16px;
    margin-right: 3px;
    width: $size;
    height: $size;
  }
}