include ../../components/phone-link

mixin map
  .map&attributes(attributes)
    .map__map.map-js
    .map__info.map-info
      button(type='button' aria-label='Закрыть').btn.btn--icon.map-info__close-btn.map-info__close-btn-js
        svg
          use(xlink:href='images/sprites.svg#search-close-form')
      .map-info__content
        .map-info__title Студия “High pass”
        .map-info__text 107045, Москва, Даев переулок, дом 41, бизнес-центр «Даев Плаза», этаж 8, офис № 82
        +phone-link().map-info__phone
