mixin order-form
  form.order-form&attributes(attributes).order-form-js
    .order-form__title Оставить заявку
    .order-form__text Оставьте ваши данные, указав в графе “Комментарий” желаемые время и дату съемки или другого мероприятия
    label.order-form__label.text-input.text-input--light
      input(type='text' placeholder='Имя' required).text-input__input.order-form__input.order-form-js__name
    label.order-form__label.text-input.text-input--light
      input(type='email' placeholder='E-mail' required).text-input__input.order-form__input.order-form-js__email
    label.order-form__label.text-input.text-input--light
      textarea(placeholder='Комментарий').text-input__input.order-form__textarea.order-form-js__comment
    button(type='submit').btn.btn--primary.order-form__button Отправить
