section.about&attributes(attributes)
  .container
    aritcle.about__content
      .about__text-content
        h2.section-title.about__title О студии
        p.about__text В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий  фиксирует необходимость распределения внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально&#8209;технической и кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и нарушающими общечеловеческие нормы этики.

      .about__image-form
        picture.about__image
          source(media="(min-width: 1320px)" srcset="images/about/camera@raw.jpg" type="image/jpeg")
          source(media="(min-width: 1024px)" srcset="images/about/camera@1024.jpg" type="image/jpeg")
          source(media="(min-width: 768px)" srcset="images/about/camera@768.jpg" type="image/jpeg")
          img(src='images/about/camera@320.jpg' alt='camera')

        form.about__subscribe-form.subscribe-form
          div.subscribe-form__title Подписаться на рассылку
          .subscribe-form__controls
            input(type='email' placeholder='E-mail').subscribe-form__input.text-input.text-input--dark
            button(type='submit').btn.btn--primary.subscribe-form__button Отправить