- var menuItems = [{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'Услуги', 'href': '#'},{'title': 'Мастер-классы', 'href': '#'},{'title': 'Контакты', 'href': '#'}]
mixin nav-menu
  nav.nav-menu(class!=attributes.class)
    each item in menuItems
      a.link.link--text.nav-menu__item(href=item.href)= item.title