include _nav-menu
include search-form
include dropdown-menu

header(class='header')
  .header__top.header-top
    .container
      .header-top__content
        a(href='#').link.link--text.header-top__logo-link
          img(src='images/Logo.svg' alt='logo').header-top__logo

        +nav-menu.header-top__menu

        .header-top__social-links
          include ../components/_social-links

        button.btn.btn--icon.header-top__search-btn.open-search-form-btn-js
          svg
            use(xlink:href='images/sprites.svg#search')

        +search-form
        +dropdown-menu
  .header__bottom.header-bottom
    .container
      .header-bottom__content
        button.btn.btn--icon.header-bottom__menu-button.dropdown-menu-open-btn-js
          svg
            use(xlink:href='images/sprites.svg#menuBtn')

        +nav-menu.header-bottom__menu