$white: #fff;
$mercury: #E9E9E9;
$wheat: #F5DEB3FF;
$burningOrange: #FF6E30;
$tuscany: #BC572B;
$grenadier: #CE4307;
$cloud: #CACACA;
$silver: #C4C4C4;
$mineShaft: #202020;
$mineShaftSemiTransparent: rgba(32, 32, 32, 0.85);
$tundora: #4A4A4A;
$doveGray: #666666;
$dustyGray: #999999;
$BurntSienna: #F06666;
$redOrange: #FF3030;
$romantic: #FFD4C1;