@mixin on-hover() {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin on-focus() {
  & {
    outline: none;
  }

  &:focus:not(:hover) {
    @content;
  }
}

@mixin on-active() {
  &:active {
    transition-duration: map-get($transitionDurations, 'short');
    @content;
  }
}

@mixin transition(
  $properties: 'color',
  $transitionDuration: map-get($transitionDurations, 'default')
) {
  //на событиях active по дефолту ставится transition-duration = 'short'
  transition-timing-function: ease-in-out;
  transition-duration: $transitionDuration;
  transition-property: $properties;
}

@mixin media($name) {
  @if map-has-key($breakpoints, $name) {
    $value: map-get($breakpoints, $name);
    $query: if(type-of($value) == "string", $value, inspect($value));
    @media #{$query} {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoints}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin size($size) {
  width: $size;
  height: $size;
}