%resetMP {
  margin: 0;
  padding: 0;
}

%reset-btn {
  @extend %resetMP;
  border: none;
  background-color: transparent;
}

%reset-list {
  @extend %resetMP;
  list-style: none;
}

%reset-text-input {
  border: none;
  background-color: transparent;
  
}

%defaultBackground {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}