@import 'colors';

$primary-font-stack: ("Roboto", 'Arial', sans-serif);

$secondary-font-stack: ('TT Firs Neue', 'Arial', sans-serif);

$max-width: 1180px;

$breakpoints: (
        'small': 320px,
        'medium': 768px,
        'large': 1024px,
);

$transitionDurations: (
        'short': 100ms,
        'default': 300ms,
        'long': 500ms,
);

$base-url: '/';

$backgroundColor: $wheat;
$primaryTextColor: $white;
$secondaryTextColor: $cloud;