$primary-font-stack: ("Roboto", 'Arial', sans-serif);

$secondary-font-stack: ('TT Firs Neue', 'Arial', sans-serif);

$breakpoints: (
        'small': (min-width: 320px),
        'medium': (min-width: 768px),
        'large': (min-width: 1024px),
        'wide': (min-width: 1320px),
);

$transitionDurations: (
        'short': 100ms,
        'default': 300ms,
        'long': 500ms,
);

$base-url: '/';

$backgroundColor: $white;
$primaryTextColor: $white;
$secondaryTextColor: $cloud;