include ../../components/picture
include ../../components/card

section.our-projects
  .container
    h2.section-title.our-projects__title Наши проекты
    .our-projects__cards
      +card('Синтетически, смешаны с не уникальными данными до степени...', '16 июня', 'пейзаж').our-projects__item.card--3-line-title
        +picture('forest', 'images/cards/card-1')
      +card('В своём стремлении улучшить опыт мы упускаем, что явные...', '28 мая', 'портрет').our-projects__item.card--3-line-title
        +picture('forest', 'images/cards/card-2')
      +card('Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада', '14 мая', 'предмет').our-projects__item
        +picture('forest', 'images/cards/card-3')

      +banner('fuji', '9 апреля', 'Cемантический разбор','О проекте', 'В рамках спецификации современных стандартов, интерактивные прототипы', 'down', '#').banner--wide.our-projects__banner.our-projects__item

      +card('Как принято считать, многие известные личности и по сей день остаются уделом либералов...', '28 мая', 'ретушь').card--3-line-title.our-projects__item
        +picture('forest', 'images/cards/card-5')
      +card('С учётом сложившейся международной обстановки, новая модель организационной...', '14 мая', 'портрет').card--3-line-title.our-projects__item
        +picture('forest', 'images/cards/card-6')

      +banner('проектзабвение', '20 марта', 'Забвение','О проекте', 'Играет важную роль в формировании глубокомысленных рассуждений', 'down', '#').banner--wide.our-projects__banner.our-projects__item