- var socialLinks = [{'sprite': 'ig', 'href': '#'},{'sprite': 'fb', 'href': '#'},{'sprite': 'vk', 'href': '#'}]

ul.social-links
  each socialItem in socialLinks
    li.social-links__item
      a(href=socialItem.href).link.link--icon
        svg
          use(xlink:href='images/sprites.svg#' + socialItem.sprite)