- var socialLinks = [{'sprite': 'ig', 'href': '#'},{'sprite': 'fb', 'href': '#'},{'sprite': 'vk', 'href': '#'},]

ul.social-links
  each socialItem in socialLinks
    a(href=socialItem.href).link.link--icon.social-links__item
      svg
        use(xlink:href='images/sprites.svg#' + socialItem.sprite)