include tag

mixin banner
  article.banner
    +tag('мастеркласс').banner__tag
    .banner__content
      h3.banner__title Неоновый фотосет 2.0 7&nbsp;июля 20:00
      span.banner__description Мастер-класс от Игоря Робова
      a(href='#').btn.btn--primary.banner__button Узнать больше