include ../components/date

mixin card(title, date, tagText, href='#')
  .card&attributes(attributes)
    if block
      .card__image-wrapper
        if tagText
          +tag(tagText).card__tag
        block

    a(href=href).link.link--text.card__title= title
    //todo спозиционировать дату через flex justify-space-between
    +date(date)