include ../../components/phone-link

mixin dropdown-menu
  .dropdown-menu.dropdown-menu-js
    .container
      .dropdown-menu__content
        button(type='button').btn.btn--icon.dropdown-menu__close-btn.dropdown-menu-close-btn-js
          svg
            use(xlink:href='images/sprites.svg#search-close-form')

        +nav-menu.dropdown-menu__nav
        +phone-link().dropdown-menu__phone