- var menuItems = [{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'Услуги', 'href': '#'},{'title': 'Мастер-классы', 'href': '#'},{'title': 'Контакты', 'href': '#'}]
// - var menuItems = [{'title': 'О студии', 'href': '#'},{'title': 'О студии', 'href': '#'},{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'О студии', 'href': '#'},{'title': 'Наши проекты', 'href': '#'},{'title': 'Услуги', 'href': '#'},{'title': 'Мастер-классы', 'href': '#'},{'title': 'Контакты', 'href': '#'}]

mixin nav-menu
  nav.nav-menu(class!=attributes.class)
    each item in menuItems
      li.nav-menu__item
        a.link.link--text(href=item.href)= item.title