include ../../components/quote

footer.footer
  .container
    .footer__content
      .footer__social-links
        .footer__social-links-title Больше интересного:
        include ../../components/social-links

      .footer__logo
        a(href='#').link.link--text.footer__logo-link
          img(src='images/Logo-without-stroke.svg' alt='High pass logo')
          span.footer__logo-text.copyright-js Фотостудия High pass® 2018-2020

      +quote(
      'Которая из моих фотографий самая любимая? Та, которую я собираюсь снять завтра.',
      'Имоджен Каннингем'
      ).footer__quote