include ../../components/banner
include student-works

section.hero
  .container
    .hero__content
      h1.visually-hidden High Pass - Фотостудия
      +banner('мастеркласс', null, 'Неоновый фотосет 2.0 7\xa0июля 20:00', 'Узнать больше', 'Мастер-класс от Игоря Робова', 'up', '#', 'primary').hero__banner
      +student-works.hero__student-works
