mixin student-works
  div.student-works&attributes(attributes)
    h2.student-works__title Работы участников предыдущего мастер-класса
    .student-works__gallery
      picture.student-works__image
        source(media="(min-width: 1320px)" srcset="images/student-works/student-work-1@raw.jpg" type="image/jpeg")
        source(media="(min-width: 1024px)" srcset="images/student-works/student-work-1@1024.jpg" type="image/jpeg")
        source(media="(min-width: 768px)" srcset="images/student-works/student-work-1@768.jpg" type="image/jpeg")
        img(src='images/student-works/student-work-1@320.jpg' alt='student work 1')

      picture.student-works__image
        source(media="(min-width: 1320px)" srcset="images/student-works/student-work-2@raw.jpg" type="image/jpeg")
        source(media="(min-width: 1024px)" srcset="images/student-works/student-work-2@1024.jpg" type="image/jpeg")
        source(media="(min-width: 768px)" srcset="images/student-works/student-work-2@768.jpg" type="image/jpeg")
        img(src='images/student-works/student-work-2@320.jpg' alt='student work 2')

      picture.student-works__image
        source(media="(min-width: 1320px)" srcset="images/student-works/student-work-3@raw.jpg" type="image/jpeg")
        source(media="(min-width: 1024px)" srcset="images/student-works/student-work-3@1024.jpg" type="image/jpeg")
        source(media="(min-width: 768px)" srcset="images/student-works/student-work-3@768.jpg" type="image/jpeg")
        img(src='images/student-works/student-work-3@320.jpg' alt='student work 3')