include ../../components/picture

mixin student-works
  div.student-works&attributes(attributes)
    h2.section-title.student-works__title Работы участников предыдущего мастер-класса
    .student-works__gallery
      +picture('student work 1', 'images/student-works/student-work-1').student-works__image
      +picture('student work 2', 'images/student-works/student-work-2').student-works__image
      +picture('student work 3', 'images/student-works/student-work-3').student-works__image
