doctype html
html(lang='ru')
  include html/head.pug
  body
    include html/sections/header/header

    main
      include html/sections/hero/hero
      include html/sections/about/about
      include html/sections/our-projects/our-projects
    script(src='js/app.min.js')