doctype html
html(lang='ru')
    include html/head.pug
    body
        h1 Hello!
        p this p from pug
        .avatar
        a.text-link(href='#') text-link
        a.btn-primary(href='#') Узнать больше
        button.btn-primary(type='button') Отправить

        script(src='js/app.min.js')