@import "../abstracts/placeholders";

.btn-reset {
  @extend %reset-btn;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}