body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: $primaryTextColor;

  @include media('medium') {
    font-size: 16px;
  }
}

.section-title {
  font-family: $secondary-font-stack;
  font-size: 18px;
  color: $mineShaft;
  font-weight: 700;

  @include media('medium') {
    font-size: 24px;
  }
}